/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2018, 6:49:51 AM
    Author     : sawthiha
*/

.root{
    -fx-font-size: 13;
    -fx-font-family: "Zawgyi-One";
}